.container {
    height : 512px;
    width : 640px;
    display : grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 20px 80px 0px 0px;

}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column {
    border: 0 solid transparent;
    border-width: 0 20px 20px 0;
}

body {
    text-align: center;
}

h1 {
    font-style : bold;
    font-size: 35px;
}
